
<div class="tela-cheia">
    
    <app-carregando></app-carregando>
    
    <div *ngIf="!carregandoService.carregando">
        <div *ngIf="telaAtiva == 'consultar'" class="conteudo">
            <div class="d-flex justify-content-between align-items-center height-50px">
                <button class="btn btn-sm btn-primary" title="Nova pessoa" (click)="irParaIncluirPessoa()">+ Nova Pessoa</button>

                <div>
                    <button class="btn btn-sm btn-success me-3" title="Excel" (click)="exportarPessoasExcel()">Exportar em excel</button>
                    <button class="btn btn-sm btn-danger" title="Voltar ao inicio" (click)="voltarInicio()">&times;</button>
                </div>
            </div>
            <div>
                <div class="min-height-400px">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%;">#</th>
                                <th style="width: 30%;" >
                                    <app-label-ordenacao label="Razão Social/Nome" nome="nome" atrib="nome" [arr]="pessoasFiltrada"></app-label-ordenacao>
                                    <app-input-padrao [(model)]="pessoaFiltro.nome" (modelChange)="filtrar()"></app-input-padrao>
                                </th>
                                <th style="width: 30%;" >
                                    <app-label-ordenacao label="CNPJ/CPF" nome="cnpjCpf" atrib="cnpjCpf" [arr]="pessoasFiltrada"></app-label-ordenacao>
                                    <app-input-padrao [(model)]="pessoaFiltro.cnpjCpf" (modelChange)="filtrar()"></app-input-padrao>
                                </th>
                                <th style="width: 15%;">
                                    <app-label-ordenacao label="Cidade" nome="cidade" atrib="cidade" [arr]="pessoasFiltrada"></app-label-ordenacao>
                                    <app-input-padrao [(model)]="pessoaFiltro.cidade" (modelChange)="filtrar()"></app-input-padrao>
                                </th>
                                <th style="width: 10%;">
                                    <app-label-ordenacao label="Estado" nome="estado" atrib="estado" [arr]="pessoasFiltrada"></app-label-ordenacao>
                                    <select class="form-select form-select-sm" [(ngModel)]="pessoaFiltro.estado" (ngModelChange)="filtrar()">
                                        <option value="">Todos</option>
                                        <option *ngFor="let estado of utilsService.estados" [value]="estado">{{ estado }}</option>
                                    </select>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pessoa of pessoasFiltrada.slice((this.pagina - 1) * this.tamanhoPagina, this.pagina * this.tamanhoPagina)">
                                <td class="d-flex align-items-center justify-content-center">
                                    <app-botao-mini titulo="Editar produto" icone="bi bi-pencil" estiloCss="btn-warning" (click)="irParaEditarPessoa(pessoa)"></app-botao-mini>
                                    <app-botao-mini titulo="Excluir produto" icone="bi bi-trash" estiloCss="btn-danger" (click)="irParaExcluirPessoa(pessoa)"></app-botao-mini>
                                </td>
                                <td>{{ pessoa.nome }}</td>
                                <td>{{ pessoa.cnpjCpf }}</td>
                                <td>{{ pessoa.cidade }}</td>
                                <td>{{ pessoa.estado }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center align-items-center height-50px">
                    <app-paginacao [itensPorPagina]="tamanhoPagina" [(pagina)]="pagina" [tamanhoLista]="pessoas.length"></app-paginacao>
                </div>
            </div>
        </div>
        <div *ngIf="telaAtiva != 'consultar'" class="conteudo">
            <form [formGroup]="pessoaForm">
                <h1 class="titulo">{{ telaTitulo }}</h1>
                <h2 class="sub-titulo">Dados Principais</h2>
                <div class="d-flex col-sm-12">
                    <div class="d-flex flex-column col-sm-6 pe-1">
                        <label>Razão Social/Nome</label>
                        <input #nome id="nome" formControlName="nome" class="form-control form-control-sm" type="text" 
                               (click)="inputService.selecionarTextoInput(nome)" (blur)="inputService.resetarTextoInput(nome)">
                    </div>
                    <div class="d-flex flex-column col-sm-3 px-1">
                        <label>CNPJ/CPF</label>
                        <input #cnpjCpf id="cnpjCpf" formControlName="cnpjCpf" class="form-control form-control-sm" type="text" 
                               mask="000.000.000-00||00.000.000/0000-00" [dropSpecialCharacters]="false"
                               (click)="inputService.selecionarTextoInput(cnpjCpf)" (blur)="inputService.resetarTextoInput(cnpjCpf)">
                    </div>
                    <div class="d-flex flex-column col-sm-3 ps-1">
                        <label>IE</label>
                        <input #ie id="ie" formControlName="ie" class="form-control form-control-sm" type="text" mask="0*" 
                               (click)="inputService.selecionarTextoInput(ie)" (blur)="inputService.resetarTextoInput(ie)">
                    </div>
                </div>
                <h2 class="sub-titulo mt-2">Endereço</h2>
                <div class="d-flex col-sm-12">
                    <div class="d-flex flex-column col-sm-9 pe-1">
                        <label>Logradouro</label>
                        <input #logradouro id="logradouro" formControlName="logradouro" class="form-control form-control-sm" type="text" 
                               (click)="inputService.selecionarTextoInput(logradouro)" (blur)="inputService.resetarTextoInput(logradouro)">
                    </div>
                    <div class="d-flex flex-column col-sm-3 ps-1">
                        <label>Numero</label>
                        <input #numero id="numero" formControlName="numero" class="form-control form-control-sm" type="text" mask="0*" 
                               (click)="inputService.selecionarTextoInput(numero)" (blur)="inputService.resetarTextoInput(numero)">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="d-flex flex-column col-sm-6 pe-1">
                        <label>Bairro</label>
                        <input #bairro id="bairro" formControlName="bairro" class="form-control form-control-sm" type="text" 
                               (click)="inputService.selecionarTextoInput(bairro)" (blur)="inputService.resetarTextoInput(bairro)">
                    </div>
                    <div class="d-flex flex-column col-sm-4 px-1">
                        <label>Cidade</label>
                        <input #cidade id="cidade" formControlName="cidade" class="form-control form-control-sm" type="text" 
                               (click)="inputService.selecionarTextoInput(cidade)" (blur)="inputService.resetarTextoInput(cidade)">
                    </div>
                    <div class="d-flex flex-column col-sm-2 ps-1">
                        <label>Estado</label>
                        <select #estado id="estado" formControlName="estado" class="form-select form-select-sm" >
                            <option value=""></option>
                            <option *ngFor="let estado of utilsService.estados" [value]="estado">{{ estado }}</option>
                        </select>
                    </div>
                </div>
                <button *ngIf="telaAtiva == 'incluir'" class="btn btn-primary mt-2 me-1" (click)="incluirPessoa()">Salvar</button>
                <button *ngIf="telaAtiva == 'editar'" class="btn btn-primary mt-2 me-1" (click)="editarPessoa()">Salvar</button>
                <button *ngIf="telaAtiva == 'excluir'" class="btn btn-danger mt-2 me-1" (click)="excluirPessoa()">Excluir</button>
                <button class="btn btn-outline-secondary mt-2" (click)="cancelar()">Cancelar</button>
            </form>
        </div>
    </div>

</div>