.paginacao {
    display: inline-block;
  }
  
.paginacao a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paginacao a.ativo {
  background-color: #84bd93;
  color: white;
}

.paginacao a:hover:not(.ativo) {
  background-color: #ddd;
}