.main {
    min-height: 100vh;
    min-width: 100%;
    background-color: aliceblue;
    display: grid;
    /* grid-template-columns: 5% 10% 85%; */
    grid-template-columns: min-content 1fr;
    grid-template-rows: 50px 1fr 50px;
    /* grid-template-rows: 10% 83% 7%; */
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    align-items: center;

    background-color: #aca297;
}
.header-titulo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
}
.sidenav {
    grid-column: 1/2;
    grid-row: 1/3;
    transition: width 1s;

    background-color: #bed863;
}
.sidenav-aberta {
    width: 200px;
    transition: width 1s;
}
.sidenav-fechada {
    width: 60px;
    transition: width 1s;
}

.logo-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    overflow: hidden;
}
.logo-div > a {
    cursor: pointer;
}
.logo-div .logo-titulo {
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-div .logo-titulo > span {
    white-space: nowrap;
}

.logo-alface {
    width: 50px;
    height: 50px;
}

.lista-sidenav {
    list-style-type: none;
    width: 100%;
    height: 83%;
    padding: 0px;
}
.lista-sidenav-li {
    position: relative;
    /* overflow: hidden; */
}
.lista-sidenav .lista-sidenav-opcoes {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lista-sidenav .lista-sidenav-opcoes:hover {
    background-color: #d1e391;
    cursor: pointer;
}

.lista-sidenav .lista-sidenav-icone {
    font-size: 30px;
}

/* SIDENAV ABERTA */

.lista-sidenav .lista-sidenav-opcoes-div {
    display: flex;
    align-items: center;
}
.lista-sidenav .lista-sidenav-opcoes-aberta {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.lista-sidenav .lista-sidenav-opcoes-aberta.lista-sidenav-opcao-ativa {
    background-color: #d1e391;
}

.lista-sidenav-icone-cima-baixo {
    font-size: 16px;
}
.lista-sidenav-sub-opcoes-aberta {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;

    background-color: #abc259;
}
.lista-sidenav-sub-opcoes-aberta > li {
    cursor: pointer;  
}
.lista-sidenav-sub-opcoes-aberta > li:hover {
    color: white;
}
.lista-sidenav-sub-opcoes-aberta.lista-sidenav-sub-opcoes-mostrar {
    max-height: 200px;
    transition: 0.5s;
}

/* SIDENAV ABERTA - FIM */

/* SIDENAV FECHADA */

.lista-sidenav-sub-opcoes-fechada {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 60px;
    background-color: #abc259;
    width: 150px;
    padding: 0px;
    border-radius: 0px 5px 5px 0px;
}
.lista-sidenav-sub-opcoes-fechada > li {
    padding-left: 20px;
}
.lista-sidenav-sub-opcoes-fechada > li:hover:not(.lista-sidenav-sub-opcoes-titulo) {
    cursor: pointer;
    color: white;
    /* padding-left: 10px; */
}
.lista-sidenav-sub-opcoes-fechada.lista-sidenav-sub-opcoes-fechada-mostrar {
    display: block;
    overflow: auto;
}
.lista-sidenav-sub-opcoes-titulo {
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    cursor: default;

    background-color: #98ac4f;

    padding-left: 20px;
}

/* SIDENAV FECHADA - FIM */

.header .menu-botao {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    background-color: #72685b;
    color: white;
}
.header .menu-botao:hover {
    background-color: #665d51;
}
.header .botao-fechar:hover {
    background-color: red;
}

.menu-separador {
    display: flex;
    flex-grow: 1;
}


.section {
    grid-column: 2/3;
    grid-row: 2/3;

    background-color: white;

}
.footer {
    grid-column: 1/3;
    grid-row: 3/4;

    background-color: #72685b;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    color: white;
}
.footer .footer-icone-estrela {
    color: yellow;
}