/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0px;
}

.tela-cheia {
    width: 100%;
    height: 100%;
}
.conteudo {
    padding: 20px;
}

.botao-mini {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 24px;
    width: 24px;
    font-size: 12px;
}

.titulo {
    font-size: 24px;
}
.sub-titulo {
    font-size: 16px;
}

.height-50px {
    height: 50px;
}

.min-height-250px {
    min-height: 250px;
}
.min-height-400px {
    min-height: 400px;
}
.min-height-500px {
    min-height: 500px;
}

.min-width-50pc {
    min-width: 50%;
}



/* Componente do Typeahead do bootstrap (não encontrei outra forma para remover ele) */
#ngb-live {
    display: none;
}
